<li class="groups-list-item">
    <div class="d-flex justify-content-between border mb-1 p-2 mt-3">
        <div class="d-flex justify-content-start">
            <div class="">
              <img src="<%= group.icon %>" alt="Category icon image" class="rounded">
            </div>
            <div class="text-center">
              <h2><%= group.name %></h2>
              <p><%= group.created_at.strftime("%d %h %Y") %></p>
            </div>
        </div>
        <div class="px-2 d-flex justify-content-between fw-semibold fs-6 text-secondary ">
            <% total = 0.00 %>
            <% group.entities.each {|entity| total += entity.amount} %>
            <span class="amount">Total Amount: $</span>
            <span><%= total %></span>
        </div>
    </div>
</li>