<footer class="bg-secondary fixed-bottom">
  <div class="text-center">
    <h6 class="fs-2">Bk Library</h6>
    <p class="mb-0">Designed by <strong>Muskan Gupta</strong></p>
    <p>Copyright &copy; 2023</p>
  </div>
</footer>