<footer class="bg-secondary position-absolute bottom-0 w-100">
  <div class="text-center d-flex justify-content-between p-2">
    <p class="mb-0">Designed by <strong>Muskan Gupta</strong></p>
    <p class="mb-0">Copyright &copy; 2023</p>
  </div>
</footer>