<h2 class="text-center mt-4">CATEGORIES</h2>
<div class="container">
    <% if groups.empty? %>
      <h4 class="text-center text-secondary">There are not categories yet!</h4>
      <p class="text-center text-secondary">Create your first category by clicking on the button below.</p>
    <% else %>
      <ul class="groups-list list-unstyled">
        <% groups.each do |group| %>
         <%= link_to group_entitys_path(group.id), class: 'text-decoration-none' do %>
         <%=render 'groups/group', group:group %>
         <%end%>
        <% end %>
      </ul>
    <% end %>

  <div class="p-3">
    <%= link_to 'New Category', new_group_path, method: :get, class: 'button btn border  p-2 fs-5 w-100' %>
  </div>
</div> 