<p style="color: green"><%= notice %></p>
<% if user_signed_in? %>
    <%= button_to "Log out", destroy_user_session_path, class: "button btn text-light" ,method: :delete %>
<% else %>
    <%= link_to "Log in", new_user_session_path , class: "button btn text-light"%>
    <%= link_to "Sign up", new_user_registration_path , class: "button btn text-light"%>
<% end %>