<% if user_signed_in? %>
<p style="color: green"><%= notice %></p>
 
    <%=render 'shared/groupindex' ,groups:@groups%>
<% else %>
    <div class="container-fluid text-center">
     <div class="position-absolute top-50 start-50 translate-middle w-50">
       <h1 >Bk Library</h1>
       <div class="d-flex flex-column ms-5">
           <%= link_to  'Log in', user_session_path, class: 'btn btn-primary w-75 mt-5' %>
           <%= link_to  'Sign Up', new_user_registration_path, method: :get, class: 'btn btn-success w-75 mt-3' %>
       </div>
     </div>
    </div>
<%end%>